.topbar-main {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    align-items: center;
  }
  .logo {
    width: 17%;
    height: 66px;
    object-fit:cover;
    
    margin-left: 20px;
  }
  .react-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-left: 30px;
  }

  .icon-labels{
    line-height: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;  
  }
  
  .react-icon {
    color: #787878;
    cursor: pointer;
  }
  
  .react-icon:hover {
    color: black;
    font-weight: bold;
  }
  
  .user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right: 30px;
    cursor: pointer;
  }
  
  .popup-position {
    position: absolute;
    right: 10px;
    top: 65px;
    z-index: 99;
  }
  
  .search-results {
    position: absolute;
    left: 100px;
    top: 60px;
    width: 240px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
  
    .search-inner {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      border-radius: 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .name {
        font-family: system-ui;
        font-size: 18px;
      }
    }
  
    .search-inner:hover {
      background-color: #bbbbbb;
    }
  }